DisableFormat: false
BasedOnStyle: Microsoft              
Standard: Latest
IndentWidth: 4
UseTab: Always
ColumnLimit: 190
MaxEmptyLinesToKeep: 2
SortIncludes: false
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: false
PointerAlignment: Left
AlignEscapedNewlines: Left
IndentPPDirectives: None
FixNamespaceComments: false
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterStruct: false
  AfterEnum: false
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  BeforeElse: false

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine : false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None

WhitespaceSensitiveMacros: ['STRINGIZE']
AlwaysBreakTemplateDeclarations: true